.card {
  margin: 2px;
  position: relative;
}

.cardImage {
  position: absolute;
  top: 0;
  width: 100%;
  vertical-align: bottom;
}

.favIcon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5%;
  left: 5%;
  cursor: pointer;
}